.form{
    border: 2px solid rgb(101, 84, 84);
    border-radius: 10px;
    display :inline-block;
    padding:10px;
    margin-left:30%;
    margin-top:10px;
    height:650px;
}
#steps{
    height:650px;
    width:200px;
    border-radius: 25px;
    background-color:rgb(70, 173, 187);
    float:left;
}
#info{
   margin-left:10px;
   float:right;
}
#info #one{
    float:left;
}
button{
    float:right;
    position: relative;
}
.points{
    font-weight: bold ;
}
.points:hover{
   font-size: 20px;
   color:rgba(123, 1, 56, 0.717);
}